<div class="artists">
	<div class="container">
		<div class="row">
			<h1>Artistas</h1>
			<% @artists.each do |artist| %>
				<div class="artists-item col-sm-12 col-md-3">
					<picture>
						<img src="<%= artist.image_url %>" alt="">
					</picture>
					<p><%= artist.name %></p>
					<%= link_to("Ver más", artist_path(artist), class: "button") %>
				</div>
			<% end %>
		</div>
	</div>
</div>
